LLM_PROVIDER=ollama # or openai

# OpenAI
# LLM_API_KEY=
# LLM_MODEL=gpt-4o-mini
# EMBEDDING_MODEL=text-embedding-3-small

# Ollama
LLM_BASE_URL=http://localhost:11434
LLM_MODEL=llama3.1
EMBEDDING_MODEL=llama3.1
